/*
  Possible states of <html> element:

    SUPPORTINESS:
      html.core - either browser is too old or JS is disabled
      html.enhanced - JS is enabled, and browser cuts the mustard

    READINESS:
      html.enhanced:not(.ready)
      html.enhanced.ready
*/

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.unsupported-note {
  max-width: 400px;
  padding: 0 20px;
  margin: 40px auto;

  html.enhanced & {
    display: none;
  }
}

.loading-notice {
  width: 100vh;
  height: 100vh;
  text-align: center;

  html.ready & {
    display: none;
  }
}

.app {
  html:not(.ready) & {
    display: none;
  }
}
