{
  "presets": [
    [
      "env", {
        "targets": {
          "chrome": 56,
          "firefox": 53
        }
      }
    ],
    "react"
  ],
  "plugins": [
    "transform-flow-strip-types",
    "transform-object-rest-spread"
  ]
}
